# Virtual environment
.venv/
venv/
ENV/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# FFmpeg binaries
ffmpeg/
ffmpeg/bin/

# Download data
history.json
history.txt
data/
__temp_downloads__/
output/

# Build & dist
*.zip
*.exe
build/
dist/
*.spec

# IDEs
.vscode/
.idea/